
.detail {
  color: $light-text-color;
  background-color: white;
  border: 2px solid $dark-border-color;
  border-radius: 4px;
  overflow: hidden;

  .value {
    font-family: 'PostGrotesk-Medium';
  }

  .main-value {
    font-family: 'PostGrotesk-Medium';
    color: $dark-bold-text-color;
  }
}

.sending-detail-header {
  font-weight: bold;
  color: $dark-bold-text-color;
  padding: $sidebar-padding;
  border-bottom: 1px solid  $dark-border-color;
  background-color: $dark-bg-color;
  min-height: 54px;
  align-items: center;
}

.sending-detail-amount {
  padding: $sidebar-padding;
  min-height: 54px;
  align-items: center;
  justify-content: space-between;
}

.receiving-detail-header {
  font-weight: bold;
  color: $dark-bold-text-color;
  padding: $sidebar-padding;
  background-color: $dark-bg-color;
  border-top: 1px solid  $dark-border-color;
  border-bottom: 1px solid  $dark-border-color;
  min-height: 54px;
  align-items: center;
  justify-content: space-between;

  a {
    font-family: 'PostGrotesk-Light';
    font-size: 11px;

    &:hover {
      text-decoration: underline;
      color: $secondary-blue-color;
    }
  }

  .fas {
    font-size: 11px;
    margin-left: 4px;
  }
}

.receiving-detail-info {
  padding: $sidebar-padding;
  min-height: 36px;
  align-items: center;
  justify-content: space-between;
}

.receiving-detail-footer {
  font-size: 14px;
  font-family: 'PostGrotesk-Medium';
  color: $orange-text-color;
  border-top: 1px solid  $dark-border-color;
  padding: $sidebar-padding;
  min-height: 54px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
