.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-container {
  max-width: 580px;
  color: white;
  height: 480px;
  background-color: white;
  z-index: 2;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 1;
  animation: fade 0.4s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.modal-header {
  background-color: purple;
  min-height: 130px;
  align-content: center;

  // .row {
  //   margin: 5px 0;
  // }
}

.modal-main {
  background-color: maroon;
  min-height: 260px;
  justify-content: center;

  .modal-main-bottom {
    justify-content: space-between;
  }
}

.modal-main-input {
  background-color: orange;
  justify-content: center;

  .input-box {
    text-align: center;
  }
}

.modal-footer {
  min-height: 90px;
  background-color: teal;
  justify-content: center;

  .row {
    justify-content: space-between;
  }

  .col {
    justify-content: center;
  }

  .btn {
    min-height: 36px;
  }

  .modal-verify-identity {
    min-width: 109px;
  }

  .modal-back {
    min-width: 67px;
  }
}
