.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-container {
  max-width: 580px;
  color: $light-text-color;
  min-height: 480px;
  border-radius: 10px;
  background-color: $dark-bg-color;
  z-index: 2;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 1;
  animation: fade 0.4s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.modal-header {
  min-height: 130px;
  align-content: center;
  padding: $modal-padding;
  background-color: white;
  border-bottom: 1px solid $dark-border-color;
  border-radius: 5px 5px 0 0;
  padding-right: 90px;

  .row {
    margin: 5px 0;
  }

  .modal-header-top {
    font-family: 'PostGrotesk-Medium';
    font-size: 18px;
    color: $light-bold-text-color;

    .fas {
      font-size: 20px;
      opacity: 0.4;
      margin-right: 12px;
    }
  }
}

.modal-main {
  min-height: 260px;
  justify-content: center;
  align-content: center;
  align-self: center;

  .fas {
    color: $primary-blue-color;
    margin-right: 8px;
  }

  .modal-main-bottom {
    justify-content: space-between;

    p {
      font-size: 12px;
    }
  }
}

.modal-main-top {
  align-content: center;

  p {
    margin-top: 6px;
    font-family: 'PostGrotesk-Book';
    color: $dark-bold-text-color;
  }

  .modal-phone-container {
    overflow: hidden;
    height: 30px;
    margin-left: 5px;
    color: $light-text-color;
    background-color: $dark-bg-color;
    cursor: default;
    border-color: $dark-border-color;
    border-radius: 2px;

    &:hover {
      background-color: $dark-bg-color;
    }

    .modal-phone-number {
      padding: 0 4px;
    }

    .modal-phone-prefix {
      overflow: hidden;
      padding: 8px 4px;
      background-color: $modal-phone-prefix-bg-color;
      border-right: 1px solid $dark-border-color;
    }
  }
}

.modal-main-input {
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 26px;

  .input-box {
    text-align: center;
    border-radius: 5px;
    border: 1px solid $dark-border-color;
    width: 53px;
    height: 53px;
    font-size: 36px;
    margin: 0 6px;

    &:focus {
      border-color: $primary-blue-color;
      outline-style: none;
      box-shadow: none;
    }
  }

  .input-box:first-child, {
    margin-left: 0;
  }

  .input-box:last-child{
    margin-right: 0;
  }
}

.modal-footer {
  min-height: 90px;
  background-color: white;
  border-top: 1px solid $dark-border-color;
  justify-content: center;
  padding: $modal-padding;
  border-radius: 0 0 5px 5px;

  .row {
    justify-content: space-between;
  }

  .col {
    justify-content: center;
  }

  .btn {
    min-height: 36px;
  }

  .modal-verify-identity {
    min-width: 109px;
    margin-right: 17px;
  }

  .modal-back {
    min-width: 67px;
    background-color: $dark-bg-color;
    border-color: $dark-border-color;
    color: $light-bold-text-color;

    &:hover {
      background-color: $dark-border-color;
    }
  }

  a {
    &:hover {
      color: $secondary-blue-color;
    }
  }
}
