
.header {
  background-color: $header-color;
}

.main {
  background-color: white;
}

.sidebar {
  background-color: $sidebar-bg-color;
  border-left: 2px solid $sidebar-detail-border-color;
}

.logo {
  img {
    width: 130px;
  }
}
