
.header {
  background-color: $header-color;
}

.main {
  background-color: white;
}

.sidebar {
  background-color: $dark-bg-color;
  border-left: 1px solid $dark-border-color;
}

.logo {
  img {
    width: 130px;
  }
}
