
.transaction {
  margin-top: 61px;
  color: $dark-bold-text-color;
  background-color: white;
}

.transaction-tab {
  min-height: 54px;
  align-items: center;
  justify-content: space-around;

  p {
    font-family: 'PostGrotesk-Medium';
    color: $light-bold-text-color;
    opacity: 0.5;
  }

  .transaction-tab-step {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .transaction-tab-heading {
    font-size: 14px;
  }

  .transaction-tab-bar {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: $tab-unactive-color;

    .transaction-tab-progress {
      width: 33%;
      height: 4px;
      background-color: $primary-blue-color;
      border-radius: 10px;
    }
  }
}

.transaction-header {
  min-height: 125px;
  justify-content: center;
}

.transaction-sending, .transaction-receiving {
  cursor: pointer;

  input {
    cursor:pointer;
  }
}

.transaction-sending {
  .transaction-input-container {
    border: 0.1rem solid $dark-border-color;
    border-bottom: 0.08rem solid $dark-border-color;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
}

.transaction-receiving {
  .transaction-input-container {
    border: 0.1rem  solid $dark-border-color;
    border-top: 0.08px solid $dark-border-color;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
  }
}

.transaction-input-container {
  min-height: 96px;
  justify-content: center;
  padding: 0 20px;

  .transaction-input-label {
    text-transform: uppercase;
    color: $light-text-color;
    font-family: 'PostGrotesk-Book';
  }

  .transaction-input-symbol {
    color: $dark-bold-text-color;
    font-family: 'PostGrotesk-Medium';
    font-size: 22px;
  }

  input {
    color: $dark-bold-text-color;
    font-family: 'PostGrotesk-Medium';
    font-size: 22px;
    max-width: 140px;
    border: none;
    margin-left: 4px;
    margin-top: 10px;
    background-color: transparent;
    outline: none;
  }
}

.transaction-input-flag-container {
  background-color: $dark-bg-color;
  min-width: 70px;
  min-height: 25px;
  justify-content: center;
  border-radius: 50px 8px 8px 50px;
  border: 1px solid $dark-border-color;
  padding: 9px;

  .transaction-input-flag {
    align-self: center;
    max-width: 62px;
  }
}

.transaction-next {
  margin-top: 36px;
  min-width: 70px;
  min-height: 49px;
}

.transaction-footer {
  min-height: 31px;
  margin-top: 60px;
  border-top: 1px solid $dark-border-color;
  align-items: center;
  justify-content: space-between;

  p {
    color: $light-text-color;
    margin-top: 10px;
    font-size: 12px;
  }

  a {

    &:hover {
      color: $secondary-blue-color;
      text-decoration: underline;
    }
  }
}
