
.transaction {
  margin-top: 61px;
  color: white;
  background-color: teal;
}

.transaction-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: orange;
  min-height: 54px;
  align-items: center;
  text-align: center;

  .tab1 {

  }

  .tab2 {

  }

  .tab3 {

  }

  .tab-progress-bar {
    // width: 100%;
    // height: 10px;
    // background-color: red;
  }

  .underline {
    // height:0px;
    // border: 3px solid black;
    // border-radius: 2000px;
  }
}

.transaction-header {
  display: flex;
  flex-direction: column;
  min-height: 125px;
  background-color: violet;
  justify-content: center;
}

.transaction-input-sending {
  background-color: maroon;
  min-height: 96px;
  justify-content: center;

  input {
    max-width: 80px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    // background-color: transparent;
  }

  form {
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap-reverse;
  }
}

.transaction-input-flag-container {
  background-color: orange;
  min-width: 80px;
  justify-content: flex-end;
  border-radius: 15px 0px 0px 15px;

  .transaction-input-flag {
    align-self: center;
    max-width: 30px;
  }
}

.transaction-next {
  margin-top: 36px;
  min-width: 70px;
  min-height: 49px;
}

.transaction-footer {
  min-height: 31px;
  background-color: purple;
  margin-top: 60px;
  align-items: center;
  justify-content: space-between;
}
