
.transaction {
  margin-top: 61px;
  color: white;
  background-color: teal;
}

.transaction-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: orange;
  min-height: 54px;
  align-items: center;
  text-align: center;

  .tab1 {

  }

  .tab2 {

  }

  .tab3 {

  }

  .tab-progress-bar {
    // width: 100%;
    // height: 10px;
    // background-color: red;
  }

  .underline {
    // height:0px;
    // border: 3px solid black;
    // border-radius: 2000px;
  }
}

.transaction-header {
  display: flex;
  flex-direction: column;
  min-height: 125px;
  background-color: violet;
  justify-content: center;
}

.transaction-input {
  display: flex;
  flex-direction: column;

  .sending, .receiving {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    min-height: 96px;
    align-items: center;
    justify-content: space-between;
  }

  input {
    outline: none;
    border: none;
    background-color: green;

    &:hover {
      cursor: text;
    }
  }

  a {
    &:hover {
      cursor: text;
    }
  }

  .receiving {
    background-color: orange;
  }
}

.transaction-next {
  margin-top: 36px;
  min-width: 70px;
  min-height: 49px;
}

.transaction-footer {
  min-height: 31px;
  background-color: purple;
  margin-top: 60px;
  align-items: center;
  justify-content: space-between;
}
