
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: repeat(3, 1fr);
}

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  min-height: 66px;
  display: flex;
  align-items: center;

  img {
    max-width: 150px;
  }
}

.logo {
  grid-row: 1 / span 1;
  grid-column: 3 / span 2;
  display: flex;
  align-items: center;
}

.main {
  grid-column: 1 / span 7;
  grid-row: 2 / span 2;
  min-height: 900px;
}

.sidebar {
  grid-column: 8 / span 5;
  grid-row: 2 / span 2;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
}

.transaction {
  max-height: 554px;
  grid-column: 3 / span 5;
  grid-row: 2 / span 1;
  margin-right: 54px;
}

.detail {
  max-height: 360px;
  z-index: 1;
  grid-row: 2 / span 1;
  grid-column: 8 / span 3;
  margin-top: 61px;
  margin-left: 54px;
}

.modal-main-input {
  margin-top: 36px;
  margin-bottom: 26px;

  .input-box {
    width: 53px;
    height: 53px;
    font-size: 36px;
    margin: 0 7px;
  }
}
