
.app-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: repeat(2, 1fr);
}

.header {
  grid-row: 1 / span 1;
  grid-column: 1 / span 12;
  height: 66px;
  background-color: $header-color;
  color: white;
  display: flex;
  align-items: center;

  img {
    max-width: 150px;
  }
}

.logo {
  grid-row: 1 / span 1;
  grid-column: 3 / span 2;
  color: white;
  background-color: purple;
  display: flex;
  align-items: center;
}

.main {
  grid-column: 1 / span 7;
  grid-row: 2 / span 1;
  height: 100%;
  color: white;
  background-color: red;
}

.sidebar {
  grid-column: 8 / span 5;
  grid-row: 2 / span 1;
  height: 100vh;
  color: white;
  background-color: green;
  display: flex;
  justify-content: flex-end;
}

.transaction {
  grid-column: 3 / span 5;
  grid-row: 2 / span 1;
  margin-right: 54px;
}

.detail {
  z-index: 1;
  grid-row: 2 / span 1;
  grid-column: 8 / span 3;
  margin-top: 61px;
  color: white;
  background-color: maroon;
  margin-left: 54px;
}
