
.btn-is-disabled {
  opacity: 0.3;
  &:hover {
    background-color: $primary-blue-color;
  }
}

.transaction-input-active {
  background-color: $primary-blue-color;

  .transaction-input-label {
    color: $primary-blue-color;
  }
}

.tab-is-active {
  p {
    color: $primary-blue-color;
    opacity: 1;
  }
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}
