
.btn-is-active {
  background-color: red;
}

.btn-not-active {
  background-color: blue;
}

.transaction-input-active {
  background-color: $transaction-active-bg-color;

  .transaction-input-label {
    color: $primary-blue;
  }
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}
