
.btn-is-disabled {
  opacity: 0.3;
  &:hover {
    background-color: $primary-blue;
  }
}

.transaction-input-active {
  background-color: $transaction-active-bg-color;

  .transaction-input-label {
    color: $primary-blue;
  }
}

.show-modal {
  display: block;
}

.hide-modal {
  display: none;
}
