
* {
  margin: 0;
  padding: 0;
  font-family: 'PostGrotesk-Light', sans-serif;
  font-size: 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input {
  &:focus {
    border-color: red;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  color: white;
  background-color: $primary-blue-color;
  border: 1px solid $secondary-blue-color;
  border-radius: 5px;
  font-family: 'PostGrotesk-Medium';

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &:active {
    outline: 0;
    box-shadow: none;
  }

  &:hover {
    background-color: $secondary-blue-color;
  }
}

input:invalid {
  box-shadow: none;
}

form {
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap-reverse;
}

h1 {
  font-size: 18px;
  font-family: 'PostGrotesk-Medium';
  font-weight: normal;
  color: $dark-bold-text-color;
  margin-bottom: 10px;
}

h2 {
  font-family: 'PostGrotesk-Book';
  font-weight: normal;
  color: $light-text-color;
}

a {
  text-decoration: none;
  color: $link-text-color;
  font-family: 'PostGrotesk-Medium';
  font-size: 12px;
}
