
// Bold
@font-face {
  font-family: 'PostGrotesk-Bold';
  src: url('../assets/fonts/bold/PostGrotesk-Bold.woff2') format('woff2'),
  url('../assets/fonts/bold/PostGrotesk-Bold.woff') format('woff'),
  url('../assets/fonts/bold/PostGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PostGrotesk-BoldItalic';
  src: url('../assets/fonts/bold/PostGrotesk-BoldItalic.woff2') format('woff2'),
  url('../assets/fonts/bold/PostGrotesk-BoldItalic.woff') format('woff'),
  url('../assets/fonts/bold/PostGrotesk-BoldItalic.ttf') format('truetype');
}

// Book
@font-face {
  font-family: 'PostGrotesk-Book';
  src: url('../assets/fonts/book/PostGrotesk-Book.woff2') format('woff2'),
  url('../assets/fonts/book/PostGrotesk-Book.woff') format('woff'),
  url('../assets/fonts/book/PostGrotesk-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'PostGrotesk-BookItalic';
  src: url('../assets/fonts/book/PostGrotesk-BookItalic.woff2') format('woff2'),
  url('../assets/fonts/book/PostGrotesk-BookItalic.woff') format('woff'),
  url('../assets/fonts/book/PostGrotesk-BookItalic.ttf') format('truetype');
}

// Light
@font-face {
  font-family: 'PostGrotesk-Light';
  src: url('../assets/fonts/light/PostGrotesk-Light.woff2') format('woff2'),
  url('../assets/fonts/light/PostGrotesk-Light.woff') format('woff'),
  url('../assets/fonts/light/PostGrotesk-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PostGrotesk-LightItalic';
  src: url('../assets/fonts/light/PostGrotesk-LightItalic.woff2') format('woff2'),
  url('../assets/fonts/light/PostGrotesk-LightItalic.woff') format('woff'),
  url('../assets/fonts/light/PostGrotesk-LightItalic.ttf') format('truetype');
}

// Medium
@font-face {
  font-family: 'PostGrotesk-Medium';
  src: url('../assets/fonts/medium/PostGrotesk-Medium.woff2') format('woff2'),
  url('../assets/fonts/medium/PostGrotesk-Medium.woff') format('woff'),
  url('../assets/fonts/medium/PostGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PostGrotesk-MediumItalic';
  src: url('../assets/fonts/medium/PostGrotesk-MediumItalic.woff2') format('woff2'),
  url('../assets/fonts/medium/PostGrotesk-MediumItalic.woff') format('woff'),
  url('../assets/fonts/medium/PostGrotesk-MediumItalic.ttf') format('truetype');
}
