
// Screen Sizes
$laptop-bp: 1400px;
$tablet-bp: 1050px;
$phone-bp: 630px;

// Padding
$sidebar-padding: 0 20px;
$modal-padding: 0 30px;

// Main Colors
$header-color: #32323C;
$primary-blue-color: #6ec0e6;
$secondary-blue-color: #589ab8;
$dark-border-color: #e0e0e0;
$dark-bg-color: #FAFAFA;

// Text Colors
$orange-text-color: #ffc766;
$dark-bold-text-color: #4C4C4C;
$light-text-color: #9E9E9E;
$light-bold-text-color: #768895;
$link-text-color: #64b5f6;

// Specific Colors
$tab-unactive-color: #e2f2fa;
$modal-phone-prefix-bg-color: #F2F1F1;
$transaction-active-color: #FAFDFE;
